
{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
{{ api_key|json_script:"api-key" }}
{{ c_list|json_script:"latlng-data" }}

<div class="row map-banner">
    <div class="col-sm map-frame">
        <div id="map"></div>
    </div>
</div>

<div class="row private-business">
    <div class="welcome col-sm">
        <h1>Welcome to the gPMS clinic directory.</h1>
        <p>You can register a free account to be able to leave reviews of clinics you have been to, or or browse the public listing of clinics if you are just looking for treatment close by.</p>
        <p>This clinic directory is the beginning of a much broader service, aiming to provide a clinic management and booking service for small, single practitioner clinics.</p>
    </div>
    <div class="form col-sm">
        <form method="POST" action="/index/">
            <fieldset class="form-group">
                <legend>Sign up now!</legend>
                <p>Already have an account? <a href="{% url "login" %}">login here</a></p>
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button type="submit" class="btn btn-primary">Create account</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}


