<script src="static/js/home.js"></script>

{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}

<div class="row">
    <div class="private-business">
        <div class="image"></div>
        <div class="form">
            <form method="POST" action="/index/">
                <fieldset class="form-group">
                    <legend>Sign up now!</legend>
                    <p>Already have an account? <a href="{% url "login" %}">login here</a></p>
                    {% csrf_token %}
                    {{ form | as_bootstrap}}
                    <button type="submit" class="btn btn-primary">Create account</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}


