{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="d-flex align-items-center" style="height: 100%">
    
    <div class="container align-items-center col-md-4">
        <div style="height: 100%">
            
            <div class="row login">
        <div class="col-sm-12">
            <form method="post" action="{% url 'login' %}" class="accountform">
                <fieldset class="form-group">
                    <legend>Login</legend>
                    {% csrf_token %}
                    {{  login_form | as_bootstrap }}
                    <button type="submit" class="btn btn-primary">Login</button>
                    <p><small>Need an account? <a href="{% url 'index' %}">Register!</a></small></p>
                </fieldset>
            </form>
        </div>
    </div>
</div>

</div>
</div>
{% endblock %}
