.map-banner {
  width: 100%;
  margin: 0; }
  .map-banner .map-frame {
    height: 300px;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0; }
    .map-banner .map-frame #map {
      height: 300px;
      width: 100%; }

body {
  background-color: #eee6f8;
  color: #000000; }
  body .navbar {
    background-color: #081522; }
    body .navbar .btn {
      border-color: #eee6f8;
      background-color: #081522;
      transition-duration: 0.4s;
      color: #c5aae7; }
      body .navbar .btn:hover {
        background-color: #c5aae7;
        color: #000; }
  body .alert {
    margin-bottom: 0; }
  body .container-fluid {
    padding: 0;
    background-color: #eee6f8; }
  body .container {
    color: #173a60;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-top: 50px;
    padding-top: 50px;
    background-color: white; }

.landing-page {
  width: 100%;
  padding: 0 25px 0 25px; }
  .landing-page .welcome {
    width: 50%;
    padding: 0 10px 0 30px; }
  .landing-page .form {
    padding: 0 30px 0 10px; }
    .landing-page .form input {
      border-color: #173a60; }
    .landing-page .form .checkbox {
      margin-top: 25px; }
    .landing-page .form button {
      background-color: #173a60;
      border-color: #173a60; }
      .landing-page .form button:hover {
        background-color: #eee6f8;
        color: #173a60; }
    .landing-page .form p {
      margin-top: 15px; }

.profile button {
  background-color: #173a60;
  border-color: #173a60; }
  .profile button:hover {
    background-color: #eee6f8;
    color: #173a60; }
.profile .profile-mods {
  padding-left: 0; }
  .profile .profile-mods .mod-list {
    padding-left: 25px; }
  .profile .profile-mods .btn {
    margin-top: 15px; }

.search {
  width: 100%;
  margin: 0;
  margin-top: 20px; }
  .search .no-result p {
    margin-bottom: 50px; }
  .search .listing-frame {
    width: 40%;
    height: 100%;
    display: inline-block; }
    .search .listing-frame hr {
      margin: 0 25px 0 25px; }
    .search .listing-frame .listing-card {
      background-color: #ffebcd;
      padding: 15px;
      border-radius: 5px;
      margin-top: 15px; }
      .search .listing-frame .listing-card li {
        list-style-position: inside; }
    .search .listing-frame .profile-card {
      background-color: #fafafa;
      padding: 15px;
      border-radius: 5px;
      height: 100%; }
      .search .listing-frame .profile-card h4 {
        margin-top: 15px; }
      .search .listing-frame .profile-card li {
        list-style-position: inside; }
  .search #listing-map {
    height: 500px;
    width: 50%;
    display: inline-block; }
  .search .map-frame {
    height: 500px;
    width: 50%;
    display: inline-block;
    float: right; }
    .search .map-frame #map {
      height: 500px;
      width: 100%; }

.login button {
  background-color: #173a60;
  border-color: #173a60; }
  .login button:hover {
    background-color: #eee6f8;
    color: #173a60; }
.login p {
  margin-top: 10px; }

.reviews {
  padding: 25px;
  margin: 0;
  width: 100%; }
  .reviews .review-frame {
    margin: 0; }
    .reviews .review-frame .review-slip {
      margin-top: 85px; }
      .reviews .review-frame .review-slip .review-title {
        display: inline-block;
        margin-bottom: 40px; }
      .reviews .review-frame .review-slip .btn-small {
        display: inline-block;
        float: right;
        byorder-radius: 4px;
        margin-right: 2px; }
        .reviews .review-frame .review-slip .btn-small a {
          color: #fff;
          text-decoration: none; }

.sub-details {
  margin-top: 30px; }

#user-profile-form {
  display: none; }

#clinic-profile-form {
  display: none; }

#mod-list-form {
  display: none; }

.card-label {
  width: 30em; }

.sub-row {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }
  .sub-row .sub-card {
    display: inline-block;
    width: 250px; }

.form-label {
  display: inline-block;
  width: 70px;
  margin-top: 10px; }

/*# sourceMappingURL=style.css.map */
