.map-banner {
  width: 100%;
  margin: 0; }
  @media (max-width: 576px) {
    .map-banner {
      height: 200px; } }
  .map-banner .map-frame {
    height: 300px;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0; }
    @media (max-width: 576px) {
      .map-banner .map-frame {
        height: 200px; } }
    .map-banner .map-frame #map {
      height: 300px;
      width: 100%; }
      @media (max-width: 576px) {
        .map-banner .map-frame #map {
          height: 200px; } }

body {
  background-color: #eee6f8;
  color: #000000; }
  body a {
    color: #173a60; }
    body a:hover {
      text-decoration: none;
      color: #c5aae7; }
  body .navbar {
    background-color: #081522; }
    body .navbar .btn {
      border-color: #eee6f8;
      background-color: #081522;
      transition-duration: 0.4s;
      color: #c5aae7; }
      body .navbar .btn:hover {
        background-color: #c5aae7;
        color: #000; }
  body .alert {
    margin-bottom: 0; }
  body .container-fluid {
    padding: 0;
    background-color: #eee6f8; }
  body .container {
    color: #173a60;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white; }
    @media (max-width: 576px) {
      body .container {
        border-radius: 0;
        margin: 0; } }

.landing-page {
  padding: 0 25px 0 25px; }
  @media (max-width: 576px) {
    .landing-page {
      margin: 0;
      padding: 0; } }
  .landing-page .welcome {
    padding: 0 10px 0 30px; }
    @media (max-width: 576px) {
      .landing-page .welcome {
        padding: 0 10px 0 10px; }
        .landing-page .welcome h1 {
          font-size: 25px; } }
  .landing-page .form {
    padding: 0 30px 0 10px; }
    @media (max-width: 576px) {
      .landing-page .form {
        padding: 15px; } }
    .landing-page .form input {
      border-color: #173a60; }
    .landing-page .form .checkbox {
      margin-top: 25px; }
    .landing-page .form button {
      background-color: #173a60;
      border-color: #173a60;
      color: white; }
      .landing-page .form button:hover {
        background-color: #eee6f8;
        color: #173a60; }
      .landing-page .form button a {
        color: inherit; }
        .landing-page .form button a:hover {
          color: #173a60; }
    .landing-page .form p {
      margin-top: 15px; }

.profile #user-profile {
  padding: 0 20px 0 35px; }
  @media (max-width: 576px) {
    .profile #user-profile {
      padding: 0 15px 0 15px; } }
  .profile #user-profile #cancel-button {
    background-color: #173a60;
    border-color: #173a60;
    color: white; }
    .profile #user-profile #cancel-button:hover {
      background-color: #eee6f8;
      color: #173a60; }
    .profile #user-profile #cancel-button a {
      color: inherit; }
      .profile #user-profile #cancel-button a:hover {
        color: #173a60; }
  .profile #user-profile .reset-button {
    margin-top: 55px; }
.profile #clinic-profile {
  padding: 0 35px 0 20px; }
  @media (max-width: 576px) {
    .profile #clinic-profile {
      margin-top: 25px; } }
  .profile #clinic-profile .mod-span {
    margin-left: 15px; }
  .profile #clinic-profile .social-span {
    display: inline-block;
    margin-left: 15px;
    padding-bottom: 15px; }
.profile .section-heading {
  font-weight: 600;
  display: inline-block;
  margin-top: 45px; }
.profile .disabled {
  pointer-events: none;
  background-color: grey;
  border: none; }
.profile button {
  background-color: #173a60;
  border-color: #173a60;
  color: white; }
  .profile button:hover {
    background-color: #eee6f8;
    color: #173a60; }
  .profile button a {
    color: inherit; }
    .profile button a:hover {
      color: #173a60; }
@media (max-width: 576px) {
  .profile #edit-modalities-button {
    margin-top: 25px; } }
.profile .btn {
  background-color: #173a60;
  border-color: #173a60;
  color: white;
  border-radius: 5px; }
  .profile .btn:hover {
    background-color: #eee6f8;
    color: #173a60; }
  .profile .btn a {
    color: inherit; }
    .profile .btn a:hover {
      color: #173a60; }
  .profile .btn .btn-save {
    margin-bottom: 25px; }
.profile #sub-update-form {
  padding: 0;
  padding-left: 0; }
  .profile #sub-update-form .mod-list {
    padding-left: 0; }
  .profile #sub-update-form .btn {
    margin-top: 15px; }
.profile #mod-list-form {
  display: none;
  padding: 0; }

.user-profile {
  padding-left: 40px; }
  .user-profile .user-profile-wrapper {
    display: inline-block;
    margin: 0 auto; }
  .user-profile .btn-primary {
    background-color: #173a60;
    border-color: #173a60;
    color: white; }
    .user-profile .btn-primary:hover {
      background-color: #eee6f8;
      color: #173a60; }
    .user-profile .btn-primary a {
      color: inherit; }
      .user-profile .btn-primary a:hover {
        color: #173a60; }

.password-reset .btn {
  background-color: #173a60;
  border-color: #173a60;
  color: white; }
  .password-reset .btn:hover {
    background-color: #eee6f8;
    color: #173a60; }
  .password-reset .btn a {
    color: inherit; }
    .password-reset .btn a:hover {
      color: #173a60; }
.password-reset .password-form {
  padding-right: 60px; }
  .password-reset .password-form .password-button {
    background-color: #173a60;
    border-color: #173a60;
    color: white;
    float: right; }
    .password-reset .password-form .password-button:hover {
      background-color: #eee6f8;
      color: #173a60; }
    .password-reset .password-form .password-button a {
      color: inherit; }
      .password-reset .password-form .password-button a:hover {
        color: #173a60; }

.subscription .card-wrapper {
  margin: 0 auto;
  text-align: center;
  display: flex; }
.subscription .form-col {
  margin: 0; }

.clinic h2 {
  margin-right: 0;
  float: left; }
.clinic .social-row {
  float: right; }
  @media (max-width: 576px) {
    .clinic .social-row {
      float: none;
      width: 210px;
      margin: 0 auto; } }
  .clinic .social-row .social-span {
    display: inline-block;
    margin-left: 15px; }
    @media (max-width: 576px) {
      .clinic .social-row .social-span {
        margin: 0; } }
.clinic .section-heading {
  font-weight: 600;
  display: inline-block;
  margin-top: 45px; }
.clinic button {
  background-color: #173a60;
  border-color: #173a60;
  color: white; }
  .clinic button:hover {
    background-color: #eee6f8;
    color: #173a60; }
  .clinic button a {
    color: inherit; }
    .clinic button a:hover {
      color: #173a60; }
.clinic .mod-span {
  margin-left: 15px; }
.clinic .btn-small {
  border-radius: 4px;
  border: 1px solid #173a60; }
  .clinic .btn-small:hover {
    color: #173a60; }
  .clinic .btn-small a {
    color: inherit; }
    .clinic .btn-small a:hover {
      color: #173a60; }
.clinic .listing-frame {
  padding: 0 25px 0 40px; }
.clinic .profile-card {
  margin-top: 15px; }
.clinic .td-key {
  color: #265f9e;
  width: 50px;
  padding-left: 0; }
.clinic .td-value {
  padding-top: 16px;
  padding-left: 0; }
.clinic .edit-buttons {
  margin-top: 10px;
  margin-right: 10px;
  float: right; }
.clinic .review-title {
  padding-bottom: 10px; }
.clinic .review-frame {
  margin-top: 15px;
  padding: 0 40px 0 25px; }
  .clinic .review-frame .review-wrapper {
    background-color: #8080801a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px; }
.clinic .review-form {
  margin-top: 50px; }

.search {
  margin: 0;
  padding: 25px;
  margin-top: 20px; }
  @media (max-width: 576px) {
    .search {
      padding: 0;
      margin-top: 0; } }
  .search .no-result p {
    margin-bottom: 50px; }

.listing-card {
  padding: 0 15px 15px 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  height: 250px;
  background-color: #fafafa;
  border-radius: 5px;
  width: 48%; }
  @media (max-width: 576px) {
    .listing-card {
      width: 100%; } }
  .listing-card .clinic-title {
    font-weight: 600; }
  .listing-card li {
    list-style-position: inside; }
  .listing-card p {
    margin-top: 15px; }

.float-left {
  margin-right: 4%; }

.profile-card {
  background-color: #fafafa;
  padding: 15px;
  border-radius: 5px;
  height: 100%; }
  .profile-card h4 {
    margin-top: 15px; }
  .profile-card li {
    list-style-position: inside; }

#listing-map {
  height: 500px;
  width: 50%;
  display: inline-block; }

.map-frame {
  height: 500px;
  width: 50%;
  display: inline-block;
  float: right; }
  .map-frame #map {
    height: 500px;
    width: 100%; }

.btn {
  background-color: #173a60;
  border-color: #173a60;
  color: white; }
  .btn:hover {
    background-color: #eee6f8;
    color: #173a60; }
  .btn a {
    color: inherit; }
    .btn a:hover {
      color: #173a60; }

.login button {
  background-color: #173a60;
  border-color: #173a60;
  color: white; }
  .login button:hover {
    background-color: #eee6f8;
    color: #173a60; }
  .login button a {
    color: inherit; }
    .login button a:hover {
      color: #173a60; }
.login p {
  margin-top: 10px; }

.reviews {
  padding: 25px;
  margin: 0;
  width: 100%; }
  .reviews .review-frame {
    margin: 0; }
    .reviews .review-frame .review-slip {
      margin-top: 85px; }
      .reviews .review-frame .review-slip .review-title {
        display: inline-block;
        margin-bottom: 40px; }
      .reviews .review-frame .review-slip .btn-small {
        display: inline-block;
        float: right;
        byorder-radius: 4px;
        margin-right: 2px; }
        .reviews .review-frame .review-slip .btn-small a {
          color: #fff;
          text-decoration: none; }

.sub-details {
  margin-top: 30px; }

#user-profile-form {
  display: none; }

#clinic-profile-form {
  display: none; }

.card-label {
  width: 30em; }

.sub-row {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }
  .sub-row .sub-card {
    display: inline-block;
    width: 250px; }
    @media (max-width: 576px) {
      .sub-row .sub-card {
        width: 160px; } }
    .sub-row .sub-card button {
      background-color: #eee6f8;
      color: #173a60; }
    .sub-row .sub-card:hover {
      transform: scale(1.2);
      background-color: #eee6f8; }
      .sub-row .sub-card:hover button {
        background-color: #eee6f8;
        color: #173a60; }
        .sub-row .sub-card:hover button:hover {
          color: #eee6f8;
          background-color: #173a60; }

@media (max-width: 576px) {
  .payment .form-wrapper #card-element {
    width: 370px; } }
.payment button {
  background-color: #173a60;
  border-color: #173a60;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px; }
  .payment button:hover {
    background-color: #eee6f8;
    color: #173a60; }
  .payment button a {
    color: inherit; }
    .payment button a:hover {
      color: #173a60; }
.payment input {
  border: 1px solid #173a60;
  padding: 5px;
  border-radius: 5px; }

.form-label {
  display: inline-block;
  width: 70px;
  margin-top: 10px; }

#card-element {
  border: 1px solid #173a60;
  padding: 10px;
  border-radius: 5px; }

/*# sourceMappingURL=style.css.map */
