// ----------------- Mixins ------------------- //

@mixin gpms-button {
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;
    &:hover {
        background-color: $color-background;
        color: $color-primary;
    }
    a {
        color: inherit;
        &:hover {
            color: $color-primary;
        }
    }
}

@mixin gpms-btn-small {
    &:hover {
        color: $color-primary;
    }
    border-radius: 4px;
    border: 1px solid $color-primary;
    a {
        color: inherit;
        &:hover {
            color: $color-primary;
        }
    }
}

@mixin table-style {
    color: $color-primary-light;
    width: 50px;
}

// ----------------- Colours ------------------ //

$color-background: #eee6f8;
$color-background-dark: darken($color-background, 15%);
$color-primary: #173a60;
$color-primary-dark: darken($color-primary, 15%);
$color-primary-light: lighten($color-primary, 15%);

// ----------------- Banner ------------------- //

.map-banner {
    width: 100%;
    margin: 0;
    .map-frame {
        height: 300px;
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        #map {
            height: 300px;
            width: 100%;
        }
    } 
}

// ----------------- Body --------------------- //

body {
  background-color: $color-background;
  color: #000000;
  a {
      color: $color-primary;
      &:hover {
          text-decoration: none;
          color: $color-background-dark;
      }
  }
  .navbar {
      background-color: $color-primary-dark;
      .btn {
          border-color: $color-background;
          background-color: $color-primary-dark;
          transition-duration: 0.4s;
          color: $color-background-dark;
          &:hover {
              background-color: $color-background-dark;
              color: #000;
          }
      }
  }
  .alert  {
      margin-bottom: 0;
  }
  .container-fluid {
      padding: 0;
      background-color: $color-background;
  }
  .container {
      color: $color-primary;
      box-shadow: 0 0 1px 2px rgba(0,0,0,0.2);
      border-radius: 4px;
      margin-top: 50px;
      margin-bottom: 50px;
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: white;
  }
}

// ----------------- Landing Page ------------- //

.landing-page {
    width: 100%;
    padding: 0 25px 0 25px;
    .welcome {
        width: 50%;
        padding: 0 10px 0 30px;
    }
    .form {
        padding: 0 30px 0 10px;
        input {
            border-color: $color-primary
        }
        .checkbox {
            margin-top: 25px;
        }
        button {
            @include gpms-button;
        }
        p {
            margin-top: 15px; 
        }
    }
}

// ----------------- Profiles ---------------- //

.profile {
    #user-profile {
        padding: 0 20px 0 35px;
    }
    #clinic-profile {
        padding: 0 35px 0 20px;
    }
    .section-heading {
        font-weight: 600;
        display: inline-block;
        margin-top: 45px;
    }
    .disabled {
        pointer-events: none;
        background-color: grey;
        border: none;
    }
    button{
        @include gpms-button;
    }
    .btn {
        @include gpms-button;
        border-radius: 5px;
        .btn-save {
            margin-bottom: 25px;
        }
    }
    #sub-update-form {
        padding: 0;
    }
    .location{
        margin-top: 0;
    }
    .profile-mods {
        padding-left: 0;
        .mod-list {
            padding-left: 25px;
        }
        .btn  {
            margin-top: 15px;
        }
    }
    #mod-list-form {
        display: none;
        padding: 0;
    }
}

.user-profile {
    padding-left: 40px;
    .user-profile-wrapper {
        display: inline-block;
        margin: 0 auto;
    }
    .btn-primary {
        @include gpms-button;
    }
}

.password-reset {
    .btn {
        @include gpms-button;
    }
    .password-form {
        padding-right: 60px;
        .password-button {
            @include gpms-button;
            float: right; 
        }
    }
}

.subscription {
    .card-wrapper {
        margin: 0 auto;
        text-align: center;
        display: flex;
        
    }
    .form-col {
        margin: 0;
    }
                     
}

// ----------------- Clinic ----------------- //

.clinic {
    h {
        margin: 0;
    }
    button {
        @include gpms-button;
    }
    .btn-small {
        @include gpms-btn-small;
    }
    .listing-frame {
        padding: 0 25px 0 40px;
    }
    .profile-card {
        margin-top: 15px;
    }
    .td-key {
        @include table-style;
    }
    .edit-buttons {
        float: right
    }
    .review-title {
        padding-bottom: 10px;
    }
    .review-frame {
        margin-top: 15px;
        padding: 0 40px 0 25px;
    }
    .review-form {
        margin-top: 50px;
    }
}

// ----------------- Search ----------------- //

.search {
    margin: 0;
    padding: 25px;
    // height: 500px;
    margin-top: 20px;
    .no-result {
        p {
            margin-bottom: 50px;
        }
    }
    .listing-frame {
        width: 40%;
        height: 100%;
        display: inline-block;
        .card-content {
            padding-left: 30px;
        }
        hr {
            margin: 0 10px 15px 0;
        }

        .listing-card {
            padding: 15px;
            border-radius: 5px;
            margin-top: 15px;
            li {
                //padding-left: 15px;
                list-style-position: inside;
            }
            p {
                margin-top: 15px;
            }
            table {
                @include table-style;
            }
        }
        .profile-card {
            background-color: #fafafa;
            padding: 15px;
            border-radius: 5px;
            height: 100%; 
            h4 {
                margin-top: 15px;
            }
            li {
                list-style-position: inside;
            }
        }
    }

    #listing-map {
        height: 500px;
        width: 50%;
        display: inline-block;
    }
    .map-frame {
        height: 500px;
        width: 50%;
        display: inline-block;
        float: right;
        #map {
            height: 500px;
            width: 100%;
        }

    }
}

// ----------------- Login ------------------ //

.login {

    button {
        @include gpms-button;
    }
    p {
        margin-top: 10px
    }
}

// ----------------- Reviews ---------------- //

.reviews {
    padding: 25px;
    margin: 0;
    width: 100%;
    .review-frame {
        margin: 0;
        .review-slip {
            margin-top: 85px;
            .review-title {
                display: inline-block;
                margin-bottom: 40px;
            }
            .btn-small {
                display: inline-block;
                float: right;
                byorder-radius: 4px;
                margin-right: 2px;
                 a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

.sub-details {
    //margin-left: 40px;
    margin-top: 30px;
}

#user-profile-form {
    display: none;
}

#clinic-profile-form {
    display: none;
}


.card-label {
    width: 30em;
}

.sub-row {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    .sub-card {
        display: inline-block;
        width: 250px;
    }
}

.form-label {
    display: inline-block;
    width: 70px;
    margin-top: 10px;
}
