// ----------------- Mixins ------------------- //

@mixin gpms-button {
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;
    &:hover {
        background-color: $color-background;
        color: $color-primary;
    }
    a {
        color: inherit;
        &:hover {
            color: $color-primary;
        }
    }
}

@mixin gpms-btn-small {
    &:hover {
        color: $color-primary;
    }
    border-radius: 4px;
    border: 1px solid $color-primary;
    a {
        color: inherit;
        &:hover {
            color: $color-primary;
        }
    }
}

@mixin table-style {
    color: $color-primary-light;
    width: 50px;
}

@mixin section-heading {
    font-weight: 600;
    display: inline-block;
    margin-top: 45px;
}

// ----------------- Media query mixins ------- //

@mixin mobile {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin tablet-portrait {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin tablet-landscape {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin big-desktop {
    @media (min-width: 1800px) {
        @content;
    }
}

// ----------------- Colours ------------------ //

$color-background: #eee6f8;
$color-background-dark: darken($color-background, 15%);
$color-primary: #173a60;
$color-primary-dark: darken($color-primary, 15%);
$color-primary-light: lighten($color-primary, 15%);

// ----------------- Banner ------------------- //

.map-banner {
    @include mobile {
        height: 200px;
    }
    width: 100%;
    margin: 0;
    .map-frame {
        @include mobile {
            height: 200px;
        }
        height: 300px;
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        #map {
            @include mobile {
                height: 200px;
            }
            height: 300px;
            width: 100%;
        }
    } 
}

// ----------------- Body --------------------- //

body {
  background-color: $color-background;
  color: #000000;
  a {
      color: $color-primary;
      &:hover {
          text-decoration: none;
          color: $color-background-dark;
      }
  }
  .navbar {
      background-color: $color-primary-dark;
      .btn {
          border-color: $color-background;
          background-color: $color-primary-dark;
          transition-duration: 0.4s;
          color: $color-background-dark;
          &:hover {
              background-color: $color-background-dark;
              color: #000;
          }
      }
  }
  .alert  {
      margin-bottom: 0;
  }
  .container-fluid {
      padding: 0;
      background-color: $color-background;
  }
  .container {
      @include mobile {
          border-radius: 0;
          margin: 0;
      }
      color: $color-primary;
      box-shadow: 0 0 1px 2px rgba(0,0,0,0.2);
      border-radius: 4px;
      margin-top: 50px;
      margin-bottom: 50px;
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: white;
  }
}

// ----------------- Landing Page ------------- //

.landing-page {
    @include mobile {
        margin: 0;
        padding: 0;
    }
    padding: 0 25px 0 25px;
    .welcome {
        @include mobile {
            padding: 0 10px 0 10px;
            h1 {
                font-size: 25px;
            }
        }
        padding: 0 10px 0 30px;
    }
    .form {
        @include mobile {
            padding: 15px;
        }
        padding: 0 30px 0 10px;
        input {
            border-color: $color-primary
        }
        .checkbox {
            margin-top: 25px;
        }
        button {
            @include gpms-button;
        }
        p {
            margin-top: 15px; 
        }
    }
}

// ----------------- Profiles ---------------- //

.profile {
    legend {
        width: 200px;
    }
    #user-profile {
        @include mobile {
            padding: 0 15px 0 15px;
        }
        hr {
            margin-top: 52px;
        }
        padding: 0 20px 0 35px;
        #cancel-button {
            @include gpms-button;
        }
        .reset-button {
            margin-top: 55px;
        }
    }
    #clinic-profile {
        @include mobile {
            margin-top: 25px;
        }
        hr {
            margin-top: 52px;
        }
        padding: 0 35px 0 20px;
        .mod-span {
            margin-left: 15px;
        }
        .social-span {
            display: inline-block;
            margin-left: 15px;
            padding-bottom: 15px;
        }
    }
    .section-heading {
        @include section-heading;
    }
    .disabled {
        pointer-events: none;
        background-color: grey;
        border: none;
    }
    button {
        @include gpms-button;
    }
    #edit-modalities-button {
        @include mobile {
            margin-top: 25px;
        }
    }
    .btn {
        @include gpms-button;
        border-radius: 5px;
        .btn-save {
            margin-bottom: 25px;
        }
    }
    #sub-update-form {
        padding: 0;
        padding-left: 0;
        .mod-list {
            padding-left: 0;
        }
        .btn  {
            margin-top: 15px;
        }
    }
    #mod-list-form {
        display: none;
        padding: 0;
    }
}


.user-profile {
    padding-left: 40px;
    .user-profile-wrapper {
        display: inline-block;
        margin: 0 auto;
    }
    .btn-primary {
        @include gpms-button;
    }
}

.password-reset {
    .btn {
        @include gpms-button;
    }
    .password-form {
        padding-right: 60px;
        .password-button {
            @include gpms-button;
            float: right; 
        }
    }
}

.subscription {
    .card-wrapper {
        margin: 0 auto;
        text-align: center;
        display: flex;
    }
    .form-col {
        margin: 0;
    }
}

// ----------------- Clinic ----------------- //

.clinic {
    h2 {
        margin-right: 0;
        float: left
    }
    .social-row {
        float: right;
        @include mobile {
            float: none;
            width: 210px;
            margin: 0 auto;
        }
        .social-span {
            @include mobile {
                margin: 0;
            }
            display: inline-block;
            margin-left: 15px;
        }
    }
    .section-heading {
        @include section-heading;
    }
    button {
        @include gpms-button;
    }
    .mod-span {
        margin-left: 15px;
    }
    .btn-small {
        @include gpms-btn-small;
    }
    .listing-frame {
        padding: 0 25px 0 40px;
    }
    .profile-card {
        margin-top: 15px;
    }
    .td-key {
        @include table-style;
        padding-left: 0;
    }
    .td-value {
        padding-top: 16px;
        padding-left: 0;
    }
    .edit-buttons {
        margin-top: 10px;
        margin-right: 10px;
        float: right
    }
    .review-title {
        padding-bottom: 10px;
    }
    .review-frame {
        margin-top: 15px;
        padding: 0 40px 0 25px;
        .review-wrapper {
            background-color: #8080801a;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 15px;
        }
    } 
    .review-form {
        margin-top: 50px;
    }
}

// ----------------- Search ----------------- //

.search {
    @include mobile {
        padding: 0;
        margin-top: 0;
    }
    margin: 0;
    padding: 0 25px 25px 25px;
    // height: 500px;
    .no-result {
        p {
            margin-bottom: 50px;
        }
    }
    .active {
        background-color: $color-background;
    }
}

.pagination {
    li {
        border: solid $color-primary 1px;
        padding: 8px 15px 8px 15px;
        &:hover {
            background-color: $color-primary-light;
        }
    }
}

.listing-card {
    @include mobile {
        width: 100%;
    }
    padding: 0 15px 15px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    height: 250px;
    background-color: #fafafa;
    border-radius: 5px;
    width: 48%;
    .clinic-title {
        font-weight: 600;
    }
    li {
        //padding-left: 15px;
        list-style-position: inside;
    }
    p {
        margin-top: 15px;
    }
}
.float-left {
    margin-right: 4%;
}
.profile-card {
    background-color: #fafafa;
    padding: 15px;
    border-radius: 5px;
    height: 100%; 
    h4 {
        margin-top: 15px;
    }
    li {
        list-style-position: inside;
    }
}


#listing-map {
    height: 500px;
    width: 50%;
    display: inline-block;
}
.map-frame {
    height: 500px;
    width: 50%;
    display: inline-block;
    float: right;
    #map {
        height: 500px;
        width: 100%;
    }
    
}

.btn {
    @include gpms-button;
}

// ----------------- Login ------------------ //

.login {

    button {
        @include gpms-button;
    }
    p {
        margin-top: 10px
    }
}

// ----------------- Reviews ---------------- //

.reviews {
    padding: 25px;
    margin: 0;
    width: 100%;
    .review-frame {
        margin: 0;
        .review-slip {
            margin-top: 85px;
            .review-title {
                display: inline-block;
                margin-bottom: 40px;
            }
            .btn-small {
                display: inline-block;
                float: right;
                border-radius: 4px;
                margin-right: 2px;
                 a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

.sub-details {
    //margin-left: 40px;
    margin-top: 30px;
}

#user-profile-form {
    display: none;
}

#clinic-profile-form {
    display: none;
}


.card-label {
    width: 30em;
}

// ----------------- Subscriptions ------------------ //

.sub-row {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    .sub-card {
        @include mobile {
            width: 160px;
        }
        display: inline-block;
        width: 250px;
        button {
            background-color: $color-background;
            color: $color-primary;
        }
        &:hover {
            transform: scale(1.2);
            background-color: $color-background;
            button {
                background-color: $color-background;
                color: $color-primary;
                &:hover {
                    color: $color-background;
                    background-color: $color-primary;
                }
            }
        }
    }
}

.payment {
    .form-wrapper {
        @include mobile {
            #card-element {
                width: 370px;
            }
        }
    }
    button {
        @include gpms-button;
        border-radius: 5px;
        padding: 10px;
        margin-top: 20px;
    }
    input {
        border: 1px solid $color-primary;
        padding: 5px;
        border-radius: 5px;
    }
}

.form-label {
    display: inline-block;
    width: 70px;
    margin-top: 10px;
}

#card-element {
    border: 1px solid $color-primary;
    padding: 10px;
    border-radius: 5px;
}
