// ------------- Mixins -----------------

@mixin jumbo-frame {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    //transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 20px;
    text-align: center;
    filter: None;
    -webkit-filter: None;

}

body {
  background-color: #fafafa;
  color: #000000;
}

.navbar {
  background-color: #524f35;
}

.alert  {
    margin-bottom: 0;
}

.container-fluid {
    padding: 0;
}

.private-business {
    width: 100%;
    padding: 25px 25px 0 25px;
    
    .form {
        margin-top: 35px;
      //  @include jumbo-frame;
        //top: 10%;
        //left: 65%;
        //float: right;
    }
    .welcome {
        margin-top: 30px;
        width: 50%;
    }
    #map {
        height: 500px;
        left: 0%;
        top: 30%;
        width: 50%;
        //border: solid 1px black;
    }
}

.profile-mods {
    padding-left: 0;
    .mod-list {
        padding-left: 25px;
    }
    .btn  {
        margin-top: 15px;
    }
}

.map-banner {
    width: 100%;
    margin: 0;
    .map-frame {
        height: 300px;
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        #map {
            height: 300px;
            width: 100%;
        }
    } 
}

.listing-body {
    width: 100%;
    margin: 0;
    // height: 500px;
    margin-top: 20px;
    .listing-frame {
        width: 40%;
        height: 100%;
        display: inline-block;
        hr {
            margin: 0 25px 0 25px;
        }

        .listing-card {
            background-color: #ffebcd;
            padding: 15px;
            border-radius: 5px;
            margin-top: 15px;
            li {
                //padding-left: 15px;
                list-style-position: inside;
            }
        }
        .profile-card {
            background-color: #fafafa;
            padding: 15px;
            border-radius: 5px;
            height: 100%; 
            h4 {
                margin-top: 15px;
            }
            li {
                list-style-position: inside;
            }
        }
    }

    #listing-map {
        height: 500px;
        width: 50%;
        display: inline-block;
    }
    .map-frame {
        height: 500px;
        width: 50%;
        display: inline-block;
        float: right;
        #map {
            height: 500px;
            width: 100%;
        }

    }
}

.reviews {
    padding: 25px;
    margin: 0;
    width: 100%;
    .review-frame {
        margin: 0;
        //background-color: #dffbe7;
        .review-slip {
            margin-top: 85px;
            //background-color: #d2e6d8;
            //padding: 15px;
            //margin-bottom: 10px;
            .review-title {
                display: inline-block;
                margin-bottom: 40px;
            }
            .btn-small {
                display: inline-block;
                float: right;
                byorder-radius: 4px;
                margin-right: 2px;
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

.profile {
    margin: 30px 25px 0 0;
}

#user-profile-form {
    display: none;
}

#clinic-profile-form {
    display: none;
}

#mod-list-form {
    display: none;
}

.card-label {
    width: 30em;
}
