
{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

{{ latlng|json_script:"latlng-data" }}
{{ api_key|json_script:"api-key" }}
{{ result|json_script:"result"}}


<script src="../static/js/maps.js"></script>
        async defer></script> -->

<div class="listing-body">
    <div class="listing-frame">
        <ul>
            {% for ob in clinic %}
           
            <div class="listing-card">
                <li>{{ ob.name }}</li>
                <li>{{ ob.practitioner }}</li>
                <li>{{ ob.description }}</li>
                {% for k in mods %}
                <li>{{ k.name }}</li> 
                {% endfor %}
                <li>{{ ob.street }}</li>
                <li>{{ ob.city }}</li>
            </div>
            {% endfor %}
        </ul>
    </div>

    <div id="listing-map"></div>
</div>

{% endblock %}
