

{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

{{ latlng|json_script:"latlng-data" }}
{{ api_key|json_script:"api-key" }}
{{ result|json_script:"result"}}

<script src="../static/js/maps.js"></script>

<div class="row map-banner">
    <div class="col-sm map-frame">
        <div id="map"></div>
    </div>
</div>

<div class="container">
    {% if not result %}
    <div class="row search">
        <div class="col-sm-12 no-result">
            <h3>Your search did not return any results</h3>
            <p>Try searching a therapy (e.g. Acupuncture), a clinic name, a street, city or suburb or even a therapists name</p>
        </div>
    </div>
    {% endif %}
    {% if not is_search %}
    <div class="row search">
        <div class="col-sm-12 col-md-6 listing-frame">
            <h3>
                Clinics close to you
            </h3>
            <p>
                You can also search for a therapy (e.g. Acupuncture), a clinic name, a street, city or suburb or even a therapists name
            </p> 
        </div>
    </div>
    {% endif %}
    <div class="row search"> 
    {% for clinic in result %}
        <div class="listing-card {% if forloop.counter0|divisibleby:2 %}float-left{% else %}float-right{% endif %}">
            <div class="row">
                <div class="col-sm-12">
                    <p><span class="clinic-title"><a href="{% url 'clinic_profile' clinic_id=clinic.id %}">{{ clinic.name }}</a></span></p>
                </div>
            </div>
            <div class="row card-content">
                <div class="col-sm-12">
                    {% for m in clinic.mods %}
                    {% if m %}
                    <li>{{ m }}</li>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div row mt-3>
                 <p>{{ clinic.prac_name }}</p> 
                 </div> -->
            <div class="row mt-3">
                <div class="col-sm-4 col-md-4" style="width: 80px">
                    Therapist:</br>
                    Phone:<br/>
                    Address:<br/>
                </div>
                <div class="col" style="float: right">
                    {{ clinic.prac_name }}<br/>
                    {{ clinic.phone }}<br/>
                    {{ clinic.street }}, {{ clinic.city }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex">
        <ul class="pagination mx-auto">
            {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}"><li>&laquo;</li></a>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in page.page_range %}
            {% if page.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <a href="?page={{ i }}"><li>{{ i }}</li></a>
            {% endif %}
            {% endfor %}
            {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}"><li>&raquo;</li></a>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </div>
</div> 
    {% if user.is_authenticated  %}
    {% if not user.profile.city %}
    <!-- Modal -->
    <div class="modal fade" id="getCityModal" tabindex="-1" role="dialog" aria-labelledby="getCityModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    To provide better search results, please enter your city!
                    <form method="post" action="{% url 'update_city' user_id=user.id %}" class="accountform">
                        <fieldset class="form-group">
                            {% csrf_token %}
                            {{  form | as_bootstrap }}
                            <button type="submit" class="btn btn-primary">Save</button>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#getCityModal').modal('show');
    });
</script>
{% endif %}
{% endif %}
{% if result.has_other_pages %}
{% endif %}
{% endblock %}
