
{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
{% load static %}

{{ latlng|json_script:"latlng-data" }}
{{ api_key|json_script:"api-key" }}
<script src="{% static 'js/reviews.js' %}"></script>

<!-- <script type="text/javascript" src="../static/js/maps.js"></script> -->

<div class="row map-banner">
    <div class="col-sm map-frame">
        <div id="map"></div>
    </div>
</div>
<div class="row listing-body">
    <div class="col-sm listing-frame">
        <ul>
            {% for ob in clinic %}
            <div class="profile-card">
                <h2>{{ ob.name }}</h2>
                <p>{{ ob.description }}</p>
                <h4>Available Therapies</h4>
                {% for m in mods %}
                <li>{{ m }}</li> 
                {% endfor %}
                <h4>Contact</h4>
                <p>
                    Web: <a  href="{{ ob.web }}" target="_blank">{{ ob.name }}</a><br>
                    Phone: {{ ob.phone }}<br>
                    Email: {{ ob.practitioner }}<br>
                    Address: {{ ob.street }} {{ ob.city }}
                </p>
            </div>
            {% endfor %}
        </ul>
        <hr>
    </div>
</div>
<div class="row reviews">
    <div class="col-sm review-form">
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset class="form-group">
                {% for ob in clinic %}
                <legend>Leave a review for {{ ob.name }}</legend>
                {% endfor %}
                {{ form | as_bootstrap}}
                <button type="submit" class="btn btn-primary">Done!</button>
            </fieldset>
        </form>
    </div>

    <div class="col-sm review-frame">
        {% if not reviews %}
        <p>There are no reviews yet.</p>
        <p>You could be the first!</p>
        {% endif %}

        {% for r in reviews %}
        <div class="review-slip col-sm">
            <div>
            <h5 class="review-title">{{ r.title }}</h5> 
            <button class="btn-small btn-danger">Delete</button>
            <button class="btn-small">Edit</button>
            </div>
            <div>
            <p>{{ r.body }}</p>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>

{% endblock %}
