
{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

{{ latlng|json_script:"latlng-data" }}
{{ api_key|json_script:"api-key" }}
{{ result|json_script:"result"}}

<script src="../static/js/maps.js"></script>

<div class="row map-banner">
    <div class="col-sm map-frame">
        <div id="map"></div>
    </div>
</div>

<div class="container">
    <div class="row search">
        {% if not result %}
        <div class="col-sm-12 no-result">
            <h3>Your search did not return any results</h3>
        <p>Try searching a therapy (e.g. Acupuncture), a clinic name, a street, city or suburb or even a therapists name</p>
        </div>
        {% endif %}
        <div class="col-sm-12 col-md-6 listing-frame">
            {% if not is_search %}
            <h3>
                Some clinics in your city
            </h3>
            {% endif %}
                {% for clinic in result %}
                <div class="listing-card">
                    <h4><a href="{% url 'clinic_profile' clinic_id=clinic.id %}">{{ clinic.name }}</a></h4>
                    <hr/>
                    <p>{{ clinic.prac_name }}</p>
                    {% for m in clinic.mods %}
                    <li>{{ m }}</li>
                    {% endfor %}
                    <p>Phone: {{ clinic.phone }}<br>
                        Address: {{ clinic.street }}, {{ clinic.city }}</p>
                </div>
                {% endfor %}
        </div>
    </div>
    {% if not user.profile.city %}
    <!-- Modal -->
    <div class="modal fade" id="getCityModal" tabindex="-1" role="dialog" aria-labelledby="getCityModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    To provide better search results, please enter your city!
                    <form method="post" action="{% url 'update_city' user_id=user.id %}" class="accountform">
                    <fieldset class="form-group">
                        {% csrf_token %}
                        {{  form | as_bootstrap }}
                        <button type="submit" class="btn btn-primary">Save</button>
                    </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#getCityModal').modal('show');
    });
</script>
{% endif %}
{% endblock %}
