
{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

{{ latlng|json_script:"latlng-data" }}
{{ api_key|json_script:"api-key" }}

<!-- <script type="text/javascript" src="../static/js/maps.js"></script> -->

<div class="listing-body">
    <div class="listing-frame">
        <ul>
            {% for ob in clinic %}
           
            <div class="profile-card">
                <h3>{{ ob.name }}</h3>
                <p>{{ ob.description }}</p>
                <h4>Available Therapies</h4>
                {% for m in mods %}
                <li>{{ m }}</li> 
                {% endfor %}
                <h4>Contact</h4>
                <p>
                    Phone: {{ ob.phone }}<br>
                    Email: {{ ob.practitioner }}<br>
                    Address: {{ ob.street }} {{ ob.city }}
                </p>
            </div>
            {% endfor %}
        </ul>
    </div>
    <div class="map-frame">
        <div id="map"></div>
    </div>
</div>

{% endblock %}
