
{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

{{ latlng|json_script:"latlng-data" }}
{{ api_key|json_script:"api-key" }}
{{ result|json_script:"result"}}


<script src="../static/js/maps.js"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=clinicListing"
        async defer></script> -->


<div class="row map-banner">
    <div class="col-sm map-frame">
        <div id="map"></div>
    </div>
</div>


<div class="listing-body">
    <div class="listing-frame">
        <ul>
            {% for clinic in result %}
            <div class="listing-card">
                <h3><a href="{% url 'clinic_profile' clinic_id=clinic.id %}">{{ clinic.name }}</a></h3>
                <p>{{ clinic.prac_name }}</p>
                {% for m in clinic.mods %}
                <li>{{ m }}</li>
                {% endfor %}
                <p>Phone: {{ clinic.phone }}<br>
                Address: {{ clinic.street }}, {{ clinic.city }}</p>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
