{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<p>This is some user information
    <ul>
        <h2>{{ user.get_full_name }}</h2>
        <p>{{ user.email }}</p>
        <h3>Bio</h3>
        <p>{{ user.profile.bio }}</p>
        <h3>Available Therapies</h3>
        <div class="profile-mods">
            {% for mod in mods %}
            <li>{{ mod.name }}</li>
            {% endfor %}
        </div>
        <h3>Clinics Detail</h3>
        <h4>{{ user.clinic.name }}</h4>
        <p>{{ user.clinic.description }}<p>
        <p>{{ user.clinic.phone }}</p>
        <p>{{ user.clinic.street }}</p>
        <p>{{ user.clinic.city }}</p>
    </ul>

</p>
<form method="post" action="{% url 'create_profile' %}" class="accountform">
    <fieldset class="form-group">
    </fieldset>
</form>
{% endblock %}
