{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

{{ api_key|json_script:"api-key" }}
{{ latlng|json_script:"latlng-data" }}

<div class="row map-banner">
    <div class="col-sm map-frame">
        <div id="map"></div>
    </div>
</div>

<div class="container">
    <div class="row profile">
        <div class="col-sm-12 col-md-6" id="user-profile">
            <legend>User Profile</legend>
            <hr>
            <p><span class="section-heading mt-3">{{ user.get_full_name }}</span></p>
            <p>{{ user.email }}</p>
            <p>{{ user.profile.phone }}</p>
            <p>{{ user.profile.street }}, {{ user.profile.city }}</p>
            <p><span class="section-heading">Biography</span></p>
            <p>{{ user.profile.bio }}</p>
            <button class="btn btn-primary" onclick="editProfile()">Edit</button> 
            <div class="sub-details">
                <p><span class="section-heading">Subscription</span></p>
                <p>If you cancel your subscription your clinic will still be shown in search results until the end of the current billing period</p>
                Current plan: {{ user.customer.sub.plan_type.capitalize }} ({{ sub_is_active }})<br/>
                Current billing period ends: {{ period_ends }}
            </div>
            <div class="col-sm-12 col-md-12" id="sub-update-form">
                <br/>
                {% if sub_is_active == "Not active" and allow_new_sub %}
                <button type="button" class="btn btn-primary"><a href="{% url 'payments:subscription' %}">New Subscription</a></button>
                {% elif sub_is_active == "Not active" and not allow_new_sub %}

                <button type="button" class="btn btn-primary disabled">New Subscription</button>
                <p class="mt-3">You cant begin a new subscription during a current billing period</p>
                {% else %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cancel-sub-modal">
                    Cancel Subscription
                </button>
                {% endif %}



                <!-- Modal - Cancel subscription confirmation -->
                <div class="modal fade" id="cancel-sub-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Confirm</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to cancel your subscription?
                            </div>
                            <div class="modal-footer">
                                <fieldset>
                                <form action="{% url 'payments:cancel_sub' user_id=user.id %}" method="post">
                                    {% csrf_token %}
                                    <input id="cancel-button" class="btn btn-primary" type="submit" name="cancel_sub" value="Cancel Subscription"/>
                                </form>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->
            </div>
            <div class="password-reset">

                <!-- Password reset modal trigger -->
                <button type="button" class="btn btn-primary reset-button" data-toggle="modal" data-target="#passwordResetModal">
                    Reset Password
                </button>

                <!-- Password reset Modal -->
                <div class="modal fade" id="passwordResetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Reset Password</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <fieldset>
                                    <form method="post" action="{% url 'change_password' %}">
                                        {% csrf_token %}
                                        {{ password_form | as_bootstrap }}
                                        <input class="btn btn-primary" name="change_password" type="submit" value="Reset Password"/>
                                    </form>
                                </fieldset> 
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End password reset modal -->
            </div>
        </div>
        <!-- Forms to update user details are hidden by default -->
        <div class="col-sm-12 col-md-6" id="user-profile-form">
            <form method="post" action="{% url 'update_user' user_id=user.id %}" class="accountform">
                <fieldset class="form-group">
                    <legend>Update your details</legend>
                    {% csrf_token %}
                    {{ user_form | as_bootstrap }}
                    {{ profile_form | as_bootstrap }}
                    <button type="submit" class="btn btn-primary">Save</button>
                </fieldset>
            </form>
        </div>
        <!-- End update user details form -->
        <div class="col-sm-12 col-md-6" id="clinic-profile">
            <legend>Clinic Profile</legend>
            <hr>
            <p><span class="section-heading mt-3">{{ user.clinic.name }}</span></p>
            {% if user.clinic.web %}
            <p>{{ user.clinic.street }}, {{ user.clinic.city }}</p>
            <p>{{ user.clinic.web }}</p>
            {% endif %}
            <p>{{ user.clinic.phone }}</p>
            <p>{{ user.clinic.email }}</p>
            <p><span class="section-heading">Clinic Description</span></p>
            <p>{{ user.clinic.description }}</p>
            <div class="social">
                <div class="col-sm-6" style="float: left">
                    {% if user.clinic.facebook %}
                    <a href="{{ user.clinic.facebook }}"><i class="fa fa-facebook-square fa-2x"></i><div class="social-span">Facebook</div></a><br/>
                    {% endif %}
                    {% if user.clinic.instagram %}
                    <a href="{{ user.clinic.instagram }}"><i class="fa fa-instagram fa-2x"></i><div class="social-span">Instagram</div></a><br/>
                    {% endif %}
                </div>
                <div class="col-sm-6" style="float: right">
                    {% if user.clinic.twitter %}
                    <a href="{{ user.clinic.twitter }}"><i class="fa fa-twitter-square fa-2x"></i><div class="social-span">Twitter</div></a><br/>
                    {% endif %}
                    {% if user.clinic.linkedin %}
                    <a href="{{ user.clinic.linkedin }}"><i class="fa fa-linkedin-square fa-2x"></i><div class="social-span">Linkedin</div></a><br/>
                    {% endif %}
                </div>
            </div>
            <button class=" btn btn-primary mt-3" onclick="editClinic()">Edit</button>
            <p><span class="section-heading">Available Therapies</span></p>
            <div class="profile-mods">
                <div class="mod-list">
                    {% for mod in mods %}
                    <i class="fa fa-star"></i><span class="mod-span">{{ mod.name }}</span><br/>
                    {% endfor %}
                </div>
                <div class="col-sm-12" id="mod-list-form">
                    <form method="post" action="{% url 'update_mods' user_id=user.id %}" class="accountform">
                        <fieldset class="form-group">
                            {% csrf_token %}
                            {{  mods_form | as_bootstrap }}
                            <button type="submit" class="btn btn-primary">Save</button>
                        </fieldset>
                    </form>
                </div>
                <button class="btn btn-primary" onclick="editMods()" id="edit-modalities-button">Edit Modalities</button>
            </div>
            <div class="location">
                <p><span class="section-heading">Location</span></p>
                <p>In case we locate your clinic incorrectly, you can adjust the position of your clinic on the map by dragging the marker and saving a new location</p>
                <span id="current"></span>
                <div id="save-loc"></div>
            </div>
        </div>
            <div class="col-sm-12 col-md-6" id="clinic-profile-form">
                <form method="post" action="{% url 'update_clinic' user_id=user.id %}" class="accountform">
                    <fieldset class="form-group">
                        <legend>Update clinic details</legend>
                        {% csrf_token %}
                        {{  clinic_form | as_bootstrap }}
                        <button type="submit" class="btn btn-primary">Save</button>
                    </fieldset>
                </form>
            </div>
        
        <form method="post" action="{% url 'create_profile' %}" class="accountform">
            <fieldset class="form-group">
            </fieldset>
        </form>
</div>
{% endblock %}
