{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

{{ api_key|json_script:"api-key" }}
{{ latlng|json_script:"latlng-data" }}


<div class="row map-banner">
    <div class="col-sm map-frame">
        <div id="map"></div>
    </div>
</div>

<div class="container">
    <div class="row user-profile">
        <div class="col-sm-4 user-profile-wrapper">
            <h2>{{ user.get_full_name }}</h2>
            <p>{{ user.email }}</p>
            <form method="post" action="{% url 'user_profile' %}" class="accountform">
                <fieldset>
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    {{ city_form | as_bootstrap }}
                    <input class="btn btn-primary mb-2" type="submit" name="update-user" value="Update" />
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row password-reset">
        <div class="password-form col-sm-12">
            
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary password-button mt-4" data-toggle="modal" data-target="#passwordResetModal">
            Reset Password
        </button>

        <!-- Modal -->
        <div class="modal fade" id="passwordResetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Reset Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <form method="post" action="{% url 'change_password' %}">
                                {% csrf_token %}
                                {{ password_form | as_bootstrap }}
                                <input class="btn btn-primary" name="change_password" type="submit" value="Reset Password"/>
                            </form>
                        </fieldset> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
