{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

{{ api_key|json_script:"api-key" }}
{{ latlng|json_script:"latlng-data" }}


<div class="row map-banner">
    <div class="col-sm map-frame">
        <div id="map"></div>
    </div>
</div>

<div class="container">
    <div class="row user-profile">
        <div class="col-sm-4">
            <h2>{{ user.get_full_name }}</h2>
            <p>{{ user.email }}</p>
            <form method="post" action="{% url 'user_profile' %}" class="accountform">
                <fieldset>
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <input class="btn btn-primary mb-2" type="submit" name="update-user" value="Update" />
                </fieldset>
            </form>
        </div>
    </div>

</div>
{% endblock %}
