{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
{{ api_key|json_script:"api-key" }}
{{ c_list|json_script:"latlng-data" }}
{% block head_js %}


{% endblock %}

<form   method="POST" id="payment-form" action="/sub/" >
{% csrf_token %}
    <input type="hidden" name="token" />
    <label for="sub_type">Choose Subsciption length:</label>
    <select id="sub_type" name="sublist" form="payment-form">
        <option value="monthly">Monthly</option>
        <option value="yearly">Yearly</option>
    </select>
    <div class="group">
      <label>
        <div class="card-label">Card</div>
        <div id="card-element" class="field"></div>
          <div id="card-errors" role="alert"></div>
      </label>
    </div>
    <div class="group">
      <label>
        <span>Name</span>
        <input id="name" name="name" class="field" placeholder="{{ user.get_full_name }}" />
      </label>
    </div>
    <div class="group">
      <label>
        <span>Address</span>
        <input id="address-line1" name="address_line1" class="field" placeholder="{{ user.profile.street }}" />
      </label>
      <label>
        <span>Address (cont.)</span>
        <input id="address-line2" name="address_line2" class="field" placeholder="" />
      </label>
      <label>
        <span>City</span>
        <input id="address-city" name="address_city" class="field" placeholder="{{ user.profile.city }}" />
      </label>
      <label>
        <span>State</span>
        <input id="address-state" name="address_state" class="field" placeholder="" />
      </label>
      <label>
        <span>Postcode</span>
        <input id="address-zip" name="address_zip" class="field" placeholder="92236" />
      </label>
      <label>
        <span>Country</span>
        <input id="address-country" name="address_country" class="field" placeholder="Sweden" />
      </label>
    </div>
    <button type="submit">Pay Now</button>
    <div class="outcome">
      <div class="error"></div>
      <div class="success"></div>
    </div>
  </form>

  {% block body_js %}


  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'js/sub.js' %}"></script>
  {% endblock %}
{% endblock %}

